/* body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.container {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(0, -50%);
    padding: 10px;
} */

h1 {
  color: #478778;
  text-shadow: 1px 1px 2px #008080;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: fit-content;
  padding: 20px;
  background-color: lightgray;
  border-radius: 10px;
}
input[type="text"] {
  width: 50px;
  text-align: center;
}
input[type="button"] {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#result {
  text-align: center;
  margin: 20px auto;
  width: fit-content;
  padding: 20px;
  background-color: lightblue;
  border-radius: 10px;
  display: none;
}