body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}


h1 {
  color: #478778;
  text-shadow: 1px 1px 2px #008080;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: fit-content;
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: fit-content;
  padding: 20px;
  /* background-color: rgba(248, 248, 255, 0.907); */
  border-radius: 10px;
}
input[type="text"] {
  width: 50px;
  text-align: center;
}
input[type="button"] {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #008080;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#result {
  text-align: center;
  margin: 20px auto;
  width: fit-content;
  padding: 20px;
  background-color: #478778;
  color: white;
  border-radius: 10px;
  display: none;
}